body {
    background-color: lightyellow;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}



img {
    width: 200px;
    height: 200px;
}

h1 {
    text-align: center;
    color: blueviolet;
    font-weight: 800;
    font-size: 1.2rem;
} 

h3 {
    color: purple;
    font-size: 1.2em;
}

h4 {
    position: absolute;
    top: 62px;
    right: 31vw;
    font-size: 2em;
    color: brown;
  
}

h2 {
    position: absolute;
    top: 78px;
    left: 34vw;
    font-size: 2em;
    color: brown;

}